* {
  font-size: 17px;
}

.hidden {
  display: none;
}

.non-hidden {
  display: block;
}

button {
  background-color: green;
  color: white;
}

label {
  color: blue;
}

.timetable {
  color: magenta;
}
